<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affmarble">


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name="com.affmarble.AFFPermission$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>